/* Заголовок _начало */
.logo, footer {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
/* Заголовок _конец */

.preloader {
	font-size: 1.7em;
	width: 500px;
	text-align: center;
	margin: 0 auto;
}

/* Подвал _начало */
footer {
	width: 1180px;
	min-width: 600px;
	background: rgb(229,76,16);
	background: linear-gradient(to bottom, rgb(229,76,16), rgb(173,54,8));
	color: white;
}

footer p {
	font-size: 1.2em;
	margin-top: 0px;
}
/* Подвал _конец */

/* Таблица _начало */
.films { 
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 20px;
}

.table.films {
	width: 1180px;
	/*width: 60%;*/
	min-width: 600px;
	font-size: 1.1em;
	margin-bottom: -20px;
}

.table.films, footer {
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.films td, .films th  { 
	border: 1px solid black;
	padding: 3px 7px 2px 7px;
	font-size: 1.1em;
}

.films th {
	text-transform: uppercase;
	text-align: left;
	background: rgb(229,76,16);
	background: linear-gradient(to bottom, rgb(229,76,16), rgb(173,54,8));
	color: white;
}

.table.films th {
	vertical-align: middle  ;
}

.films tr:nth-of-type(even) {
	background-color: rgba(255,255,255,.1);
}
.films tr:nth-of-type(odd) {
	background-color: rgba(229,76,16,.1);	
}
/* Таблица _конец */